<div id="enroll" class="fixed bottom-10 md:right-5 z-2">
  <div class="grid grid-rows md:grid-cols-2 place-content-end gap-y-10">
    <div>
      <a href="https://openspaces.platoniq.net/assemblies/alumni/f/471/" class="bg-white border-1 rounded-full text-2xl text-black px-6 py-3 font-medium">
        Quiero inscribirme
      </a>
    </div>
    <div>
      <a href="mailto:ecd@platoniq.net" class="bg-white border-1 rounded-full text-2xl text-black px-6 py-3 font-medium">
        Quiero más información
      </a>
    </div>
  </div>
</div>
