<footer class="w-full bg-[#b0b0b0]">
  <div class="w-full p-10 relative p-2">
    <div class="grid grid-rows md:grid-cols-2 gap-y-10">
      <div class="grow">
        <img 
          class="mb-10"
          title="Escuela de creatividad y democracia"
          alt="Escuela de creatividad y democracia"
          width="250"
          src="/assets/img/logo.svg"
          role="img"
        />
        <h1 class="text-6xl md:text-[82px]/[90%] text-pretty font-normal mb-2 font-[Instrument_Serif]">
          Conectando afectos, reimaginando la democracia
        </h1>
      </div>

      <div>
        <div class="grid grid-cols-2 grid-rows-2 gap-4">
          <div class="justify-self-end">
            <p class="text-1xl">Impulsa</p>
            <a href="https://platoniq.net">
              <img title="Fundación Platoniq" alt="Platoniq" src="/assets/img/logo_footer_platoniq.webp">
            </a>
          </div>
          <div class="justify-self-end">
            <p class="text-1xl">Colabora</p>
            <a href="https://www.opensocietyfoundations.org/">
              <img width="150" title="Open Society Foundations" alt="Open Society Foundations" src="/assets/img/logo_footer_osf.webp">
            </a>
          </div>
          <div class="justify-self-end">
            <p class="text-1xl">Formamos parte de</p>
            <a href="https://delibrede.net/">
              <img title="DELIB Deliberación y democracia" alt="Red DELIB" src="/assets/img/logo_footer_red_delib.svg" role="img">
            </a>
          </div>
        </div>

        <div>
          <h3 class="text-1xl md:text-[35px]/[80%] text-pretty md:text-end mt-10 mb-10">
            Contáctanos
          </h3>
          <ul class="w-full flex flex-row gap-4 md:justify-end">
            <li>
              <a href="https://instagram.com/platoniqfoundation/">
                <img width="36" src="/assets/img/social_media/instagram.svg" title="Instagram" alt="Instagram">
              </a>
            </li>
            <li>
              <a href="https://mastodon.social/@platoniq">
                <img width="36" src="/assets/img/social_media/mastodon.svg" alt="Mastodon" title="Mastodon">
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/platoniqlab/">
                <img width="36" src="/assets/img/social_media/linkedin.svg" alt="LinkedIn" title="LinkedIn">
              </a>
            </li>
          </div>
        </div>

        <div class="mt-10 md:mt-50">
          <ul class="w-full flex flew-row gap-4 justify-end">
            <li><a class="underline" href="/policy_privacy">Política de cookies</a></li>
            <li>Copyright © 2025 · Todos los derechos reservados · Platoniq</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
