<section class="w-full bg-[#b0b0b0]">
  <div class="w-full p-10 relative p-2">

    <div class="flex">
      <div class="w-2/3 grow">
        <img 
          class="mb-10"
          title="Escuela de creatividad y democracia"
          alt="Escuela de creatividad y democracia"
          src="/assets/img/logo.png"
        />
        <h1 class="text-9xl md:text-[140px]/[80%] text-pretty font-normal mb-2">
          Conectando afectos, reimaginando la democracia
        </h1>
      </div>

      <div class="w-1/3">

        <div class="grid grid-cols-2 grid-rows-2 gap-4">
          <div>
            <p class="text-1xl">Impulsa</p>
            <a href="https://platoniq.net">
              <img title="Fundación Platoniq" alt="Platoniq" src="/assets/img/logo_footer_platoniq.png">
            </a>
          </div>
          <div>
            <p class="text-1xl">Colabora</p>
            <a href="https://www.opensocietyfoundations.org/">
              <img title="Open Society Foundations" alt="Open Society Foundations" src="/assets/img/logo_footer_osf.png">
            </a>
        </div>
          <div>
            <p class="text-1xl">Formamos parte de</p>
            <a href="https://delibrede.net/">
              <img title="DELIB Deliberación y democracia" alt="Red DELIB" src="/assets/img/logo_footer_red.png">
            </a>
          </div>
        </div>

        <div>
          <h3 class="text-1xl md:text-[35px]/[80%] text-pretty text-end mt-10 mb-10">
            Contáctanos
          </h3>
          <div class="w-full flex flex-row gap-4 justify-end">
            <a href="https://instagram.com/platoniqfoundation/">
              <img src="/assets/img/social_media/instagram.png">
            </a>
          </div>
        </div>

        <div class="mt-50">
          <ul class="w-full flex flew-row gap-4 justify-end">
            <li><a class="underline" href="">Política de cookies</a></li>
            <li>Copyright © 2025 · Todos los derechos reservados · Platoniq</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
