<section id="hero" class="w-full h-9/10 bg-black bg-cover bg-[url(/assets/img/bg_header_mobile.webp)] opacity-60 md:opacity-100 md:bg-[url(/assets/img/hero.webp)] object-cover text-white">
  <div class="w-full md:w-1/2 p-10 relative h-screen p-2">
    <h1 class="text-7xl md:text-9xl md:text-[140px]/[80%] text-pretty font-normal mb-2 font-[Instrument_Serif]">Curso de democracia creativa</h1>
    <p class="text-2xl text-balance w-full md:w-1/2">En la Escuela de Creatividad y Democracia ponemos el foco en lo que importa, llevamos la democracia al siguiente nivel.</p>

    <div class="w-full absolute bottom-10">
      <button class="bg-white rounded-full text-lg text-black px-6 py-3 font-medium mr-2">
        Quiero inscribirme
      </button>
      <button class="bg-white rounded-full text-lg text-black px-6 py-3 font-medium">
        Quiero más informacion
      </button>
    </div>
  </div>
</section>
