<section id="methodology" class="grid grid-rows md:grid-cols-2 md:gap-5 p-2 md:p-10 w-full bg-black object-cover text-white">
  <div class="p-10 relative p-2">
    <span class="bg-white rounded-[4px] pt-2 pr-3 pb-2 pl-3 text-lg text-black px-6 py-3 font-medium font-sans mb-8">
      Metodología
    </span>
    <h2 class="text-[80px] md:text-[140px]/[80%] text-pretty font-normal mt-4 mb-2 font-[Instrument_Serif]">¿Como?</h1>
  </div>
  <div class="p-10 relative p-2">
    <div>
      <h3 class="font-sans text-5xl text-pretty md:w-2/5 mb-4">Desde la práctica con toques de teoría</h2>
      <p class="font-sans text-sm text-balance mb-12 md:w-2/5">A partir de casos reales, el equipo de Platoniq te enseñará las bases de la participación política para que lleves tus inquietudes de la calle al Parlamento.</p>
    </div>
    <div>
      <h3 class="font-sans text-5xl text-pretty md:w-2/5 mb-4">Trabajo en equipo desde el primer día</h2>
      <p class="font-sans text-sm text-balance mb-12 md:w-2/5">Sumérgete en los principales temas que preocupan a la juventud: el trabajo, la vivienda, el clima, salud mental o las injusticias sociales, junto a una comunidad vibrante y llena de creatividad.</p>
    </div>
    <div>
      <h3 class="font-sans text-5xl text-pretty md:w-2/5 mb-4">Invitados sorpresa y eventos paralelos</h2>
      <p class="font-sans text-sm text-balance mb-12 md:w-2/5">Este curso es una fiesta, habrá sorpresas que no te esperas y eventos paralelos  en los que te explotará la cabeza.</p>
    </div>
    <div>
      <h3 class="font-sans text-5xl text-pretty md:w-2/5 mb-4">Profesores como tú</h2>
      <p class="font-sans text-sm text-balance mb-12 md:w-2/5">Aquí de lo que se trata es sean los jóvenes quienes formen a otros jóvenes. Conviértete en mentor de la Escuela y ayuda a los demás a llevar a cabo sus proyectos.</p>
    </div>
  </div>
</section>
