<section class="flex flex-row md:gap-5 p-2 md:p-10 w-full bg-gray-300 object-cover text-white">
  <div class="w-full md:w-1/2 p-10 relative p-2">
    <button class="bg-white rounded-[4px] pt-2 pr-3 pb-2 pl-3 text-lg text-black px-6 py-3 font-medium font-sans mb-8">
      Metodología
    </button>
    <h1 class="text-9xl md:text-[140px]/[80%] text-pretty font-normal mb-2">¿Como?</h1>
  </div>
  <div class="w-full md:w-1/2 p-10 relative p-2">
    <div>
      <h2 class="font-sans text-5xl text-balance w-2/5 mb-4">Desde la práctica con toques de teoría</h2>
      <p class="font-sans text-sm text-balance mb-12 w-2/5">A partir de casos reales, el equipo de Platoniq te enseñará las bases de la participación política para que lleves tus inquietudes de la calle al Parlamento.</p>
    </div>
    <div>
      <h2 class="font-sans text-5xl text-balance w-2/5 mb-4">Trabajo en equipo desde el primer día</h2>
      <p class="font-sans text-sm text-balance mb-12 w-2/5">Sumérgete en los principales temas que preocupan a la juventud: el trabajo, la vivienda, el clima, salud mental o las injusticias sociales, junto a una comunidad vibrante y llena de creatividad.</p>
    </div>
    <div>
      <h2 class="font-sans text-5xl text-balance w-2/5 mb-4">Invitados sorpresa y eventos paralelos</h2>
      <p class="font-sans text-sm text-balance mb-12 w-2/5">Este curso es una fiesta, habrá sorpresas que no te esperas y eventos paralelos  en los que te explotará la cabeza.</p>
    </div>
    <div>
      <h2 class="font-sans text-5xl text-balance w-2/5 mb-4">Profesores como tú</h2>
      <p class="font-sans text-sm text-balance mb-12 w-2/5">Aquí de lo que se trata es sean los jóvenes quienes formen a otros jóvenes. Conviértete en mentor de la Escuela y ayuda a los demás a llevar a cabo sus proyectos.</p>
    </div>
  </div>
</section>
