<header class="bg-white h-[75px]">
  <nav class="flex items-center pt-[12px] pb-[12px] pl-[24px] pr-[24px] justify-between">
    <img width="168px" height="51px" src="/assets/img/logo.png" title="Escuela de Creatividad y Democracia">

    <div class="flex justify-around w-7/10 ml-auto">
        <a class="border-1 border-white pt-1 pb-1 pl-2 pr-2 hover:border-black rounded-full box-border" href="#who">Quien somos</a>
        <a class="border-1 border-white pt-1 pb-1 pl-2 pr-2 hover:border-black rounded-full box-border" href="#what">Que ofrecemos</a>
        <a class="border-1 border-white pt-1 pb-1 pl-2 pr-2 hover:border-black rounded-full box-border" href="#objectives">Objectivos</a>
        <a class="border-1 border-white pt-1 pb-1 pl-2 pr-2 hover:border-black rounded-full box-border" href="#itineraries">Itinerarios</a>
        <a class="border-1 border-white pt-1 pb-1 pl-2 pr-2 hover:border-black rounded-full box-border" href="#methodology">Metodologia</a>
        <a class="border-1 border-white pt-1 pb-1 pl-2 pr-2 hover:border-black rounded-full box-border" href="#program">Programa</a>
        <a class="border-1 border-white pt-1 pb-1 pl-2 pr-2 hover:border-black rounded-full box-border" href="#friends">Critical Friends</a>
        <a class="border-1 border-white pt-1 pb-1 pl-2 pr-2 hover:border-black rounded-full box-border" href="#price">Precio</a>
        <a class="border-1 border-white pt-1 pb-1 pl-2 pr-2 hover:border-black rounded-full box-border" href="#where">Dónde</a>
    </div>
  </nav>
</header>
