<section class="flex flex-row md:gap-5 p-2 md:p-10 w-full bg-gray-300 object-cover text-black">
  <div class="w-full md:w-1/2 p-10 relative p-2">
    <span class="bg-black rounded-[4px] pt-2 pr-3 pb-2 pl-3 text-lg text-white px-6 py-3 font-medium font-sans mb-8">
      Objectivos
    </span>
    <h1 class="text-9xl md:text-[140px]/[80%] text-pretty font-normal mt-4 mb-2">¿Para qué?</h1>
    <p class="font-sans text-balance mt-12">Queremos que aprendas las técnicas más creativas de expresión política y que puedas formar parte de una comunidad dispuesta a cambiar el mundo.</p>
    <p class="font-sans text-balance mt-4">La Escuela de Creatividad y Democracia te formará en las habilidades y conocimientos básicos de la participación ciudadana. Podrás formar parte de los procesos de participación en curso, conocer las técnicas más innovadoras de investigación y saber comunicar de forma efectiva lo que tiene que decir la juventud.</p>
  </div>
  <div class="w-full md:w-1/2 p-10 relative p-2">
    <img src="assets/img/oceans-landing.jpeg" class="w-full h-96 object-cover object-center rounded-md" />
  </div>
</section>
