<section class="flex flex-row md:gap-5 p-2 md:p-10 w-full bg-gray-300 object-cover text-black">
  <div class="w-full md:w-1/2 p-10 relative p-2 m-auto text-center">
    <span class="bg-black text-white text-xl px-[12px] py-[8px] rounded-sm">
      Precio
    </span>
    <div class="content-center text-[32px]/[120%] text-center"></div>
      <h3 class="mt-12 text-2xl">Disfruta de esta experiencia formativa, vengas de donde vengas. Disponemos de diferentes tarifas adaptadas para cada perfil.</h3>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
        <div class="bg-gray-200 p-6 rounded-lg">Column 1</div>
        <div class="bg-gray-200 p-6 rounded-lg">Column 2</div>
        <div class="bg-gray-200 p-6 rounded-lg">Column 3</div>
      </div>
      <div class="bg-gray-200 p-6 rounded-lg">Column 6</div>
    </div>
  </div>
</section>
