<section id="price" class="flex flex-row lg:gap-5 p-2 lg:p-10 w-full bg-[#D2D2D2] object-cover text-black">
  <div class="w-full lg:w-3/4 p-10 relative p-2 m-auto text-center">
    <span class="bg-black text-white text-xl px-[12px] py-[8px] rounded-sm">
      Precio
    </span>
    <div class="content-center text-[32px]/[120%] text-center"></div>
      <p class="mt-12 text-2xl lg:w-1/2 text-pretty m-auto">Disfruta de esta experiencia formativa, vengas de donde vengas. Disponemos de diferentes tarifas adaptadas para cada perfil.</p>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 w-full mt-12">
        <div class="bg-[#E46199] p-6 rounded-3xl border border-black border-solid">
          <div class="text-7xl font-[Instrument_Serif] mt-2">96€</div>
          <div class="text-pretty mt-8">Precio por Módulo</div>
        </div>
        <div class="bg-[#29ABDF] p-6 rounded-3xl border border-black border-solid">
          <div class="text-7xl font-[Instrument_Serif] mt-2">250€</div>
          <div class="text-pretty mt-8">Módulo común + 1 Módulo de especialización + Experiencias prácticas</div>
        </div>
        <div class="bg-[#EE9F2E] p-6 rounded-3xl border border-black border-solid">
          <div class="text-7xl font-[Instrument_Serif] mt-2">480€</div>
          <div class="text-pretty mt-8">Módulo común + 4 Módulos de especialización + Experiencias prácticas</div>
        </div>
    </div>
    <div class="bg-[#EB834A] p-6 rounded-3xl w-full mt-4 grid grid-row lg:grid-cols-3 border border-black border-solid justify-items-center">
      <div>
        <p class="text-left">Menos de</p>
        <h2 class="text-left text-8xl font-[Instrument_Serif] mt-2">30 años</h2>
      </div>
      <div class=" h-[120px] md:w-[15%] lg:h-[100%] w-[40%] lg:w-[80%] place-content-center">
            <hr class="rotate-90 lg:rotate-none border-t-2 border-black m-auto" />
        </div>
      <div>
        <h2 class="text-8xl font-[Instrument_Serif] mt-2">10 Becas</h2>
        <p>¿Tienes menos de 30 años o estás en situación de vulnerabilidad? Platoniq ofrece 10 becas. Contacta para más información.</p>
      </div>
    </div>
  </div>
</section>
