<section id="program" class="grid grid-cols-[30%_70%] md:gap-5 p-2 md:p-10 w-full bg-[#D2D2D2] object-cover text-black">
  <div class="p-10 relative p-2">
    <span class="bg-black rounded-[4px] pt-2 pr-3 pb-2 pl-3 text-lg text-white px-6 py-3 font-medium font-sans mb-8">
      Programa
    </span>
    <h1 class="text-9xl md:text-[140px]/[80%] text-pretty font-normal mt-4 mb-2 font-[Instrument_Serif]">¿Qué?</h1>
  </div>
  <div class="p-10 relative p-2">
    <div class="border-t border-solid border-black flex flex-row justify-start">
      <div class="mr-8 ml-8">Módulo 1</div>
      <div>El vértigo del diálogo y la deliberación, ¿queda tiempo para el consenso?</div>
    </div>
    <div class="flex flex-row justify-start">
      <div class="mr-8 ml-8">a)</div>
      <div>Democracia creativa</div>
    </div>
    <div class="border-t border-solid border-black">
    </div>
    <div class="border-t border-solid border-black">
    </div>
    <div class="border-t border-solid border-black">
    </div>
    <div class="border-t border-solid border-black">
    </div>
    <div class="border-t border-solid border-black">
    </div>
    <div class="border-t border-solid border-black">
    </div>
  </div>
</section>
