<section id="who" class="w-full min-h-[590px] bg-black bg-[url(/assets/img/eclipse.webp)] bg-auto bg-center bg-no-repeat grayscale grid grid-rows text-white place-content-center gap-y-12">
  <div class="place-self-center">
    <span class="bg-white rounded-[4px] pt-2 pr-3 pb-2 pl-3 text-lg px-6 py-3 font-medium font-sans mb-8 align-center text-black">
     Quiénes somos 
    </span>
  </div>
  <p class="md:w-1/2 m-4 align-center text-balance text-center place-self-center text-2xl md:text-3xl font-[Instrument_Sans]">
    Somos la primera Escuela que te ofrece un itinerario formativo basado en la elaboración participativa de políticas públicas, que tiene en cuenta el cuidado interseccional, apoyados en metodologías creativas, que busca la recuperación afectiva de la democracia
  </p>
</section>

